<html>
    <head>
        {% load static %}
        
        <title>Online Photoeditor | Absolventská práce | Matěj Marek</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static '/assets/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static '/assets/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static '/assets/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="favicon/site.webmanifest">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <style>
            h1,h2,h3,h4,p {
                text-align:center;
            }
            </style>
         <script src="jquery-3.5.1.min.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
         <script src="{% static 'assets/Rgraph/RGraph.common.core.js' %}"></script> 
         <script src="{% static 'assets/Rgraph/Rgraph.Line.js' %}"></script>
         <script src="{% static 'assets/Rgraph/RGraph.svg.common.core.js' %}"></script>
         <script src="{% static 'assets/Rgraph/RGraph.svg.line.js' %}"></script>   
         <script src="{% static 'assets/Rgraph/RGraph.common.dynamic.js' %}"></script>  
         <script src="{% static 'assets/Rgraph/RGraph.drawing.xaxis.js ' %}"></script>  
         <script type="text/javascript" src="{% static 'assets/g_charts.js' %}"></script>
    </head>
    <body>
      <h1>Dokumentace k Absolvenskému projektu | Online photoeditor | Matěj Marek</h1>  
      <p>Absolvenský projekt obsahuje online editor fotek. Napsaný v programovacím jazyce python s frameworkem Django pro tvorbu webu.</p>
        <canvas id="cvs" width="200" height="200">[No canvas support]</canvas>
        <div id="curvesChart" style="height:200px;width:200px;"></div>
        <p id="data"></p>
        <script>




let curveschart,options;
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
  
        function drawChart() {
            var datas=new Array(['X','Y']);
            for (var i = 0; i < 256; i++) {
                datas.push([i,i]); 
            }
          var data = google.visualization.arrayToDataTable(datas);
  
          options = {
            curveType: 'function',
            legend: 'none',
            backgroundColor: { fill:'transparent' },
            chartArea: {width: '100%', height: '100%'},
            vAxis: {
    viewWindowMode:'explicit',
        viewWindow: {
            max:255,
            min:0
        },
        format:null,
        gridlines: { count: 0 }
    },hAxis:{
        gridlines: { count: 0 }
    }
          };
  
          curveschart = new google.visualization.LineChart(document.getElementById('curvesChart'));
  
          curveschart.draw(data, options);
        }

            // You don't HAVE to use the window.onload event here, but if you don't
            // you must include the libraries and have defined the canvas tag first.
            let line, reverse;
            window.onload = (function ()
            {
                line = new RGraph.Line({
        id: 'cvs',
        data: [
            [0,50,100,150,200,255]
        ],
        options: {
            linewidth: 0,
            marginInner: 0,
            shadow: false,
            adjustable: true,
            outofbounds: true,
            yaxisScaleMax: 255,
            yaxisScaleMin: 0,
            tickmarksStyle: 'circle',
            tickmarksSize: 5,
            xaxisTickmarks: false,
            yaxisTickmarks: false,
            yaxis:false,
            xaxis:false,
            yaxisLabels: false,
            xaxisLabels: false,
            yaxisTickmarks:false,
            yaxisTickmarksCount:0,
            yaxisLabelsCount:0,
            yaxisLabels:[],
            textSize:1,
            textColor: 'transparent',
        }
    });
    line.draw();
    console.log(line.data_arr);
    for(var i=0; i<line.data[0].length;i++){
        $("#data").append("<li>"+line.data[0][i]+"</li>")
    }
    line.canvas.onmouseup = function(e){
        $("#data").html('');
        var arr=new Array(['hodnoty', 'Y']),last_x=0,last_y=0;
        for(var i=0; i<line.data[0].length;i++){
        $("#data").append("<li>"+line.data[0][i]+"</li>");
            var delka=Math.floor(255/(line.data[0].length-1));
            var pro_prevyseni=0;
            if (line.data_arr[i]){
                pro_prevyseni=line.data[0][i];
            }
            else{
                pro_prevyseni=0.00001;
            }
            var prevyseni=pro_prevyseni*(((line.data[0][i+1]/pro_prevyseni)-1)/delka);
            last_y=line.data[0][i];
            console.log(prevyseni,last_y);
            for(var x=0;x<delka;x++){
                arr.push([last_x,last_y]);
                last_y=last_y+prevyseni;
                last_x++
            }
            console.log(arr)
        }
        var data = google.visualization.arrayToDataTable(arr);
        curveschart.draw(data, options);
    }
            });
        </script>
    </body>
</html>