<html>
    <head>
        {% load static %}
        
        <title>Online Photoeditor | Absolventská práce | Matěj Marek</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static '/assets/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static '/assets/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static '/assets/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="favicon/site.webmanifest">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <style>
            h1,h2,h3,h4,p {
                text-align:center;
            }
            </style>
         <script src="jquery-3.5.1.min.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
         <script src="{% static 'assets/Rgraph/RGraph.common.core.js' %}"></script> 
         <script src="{% static 'assets/Rgraph/Rgraph.Line.js' %}"></script>
         <script src="{% static 'assets/Rgraph/RGraph.svg.common.core.js' %}"></script>
         <script src="{% static 'assets/Rgraph/RGraph.svg.line.js' %}"></script>   
         <script src="{% static 'assets/Rgraph/RGraph.common.dynamic.js' %}"></script>  
         <script src="{% static 'assets/Rgraph/RGraph.drawing.xaxis.js ' %}"></script>  
         <script type="text/javascript" src="{% static 'assets/g_charts.js' %}"></script>
    </head>
    <body>
      <h1>Dokumentace k Absolvenskému projektu | Online photoeditor | Matěj Marek</h1>  
      <p>Absolvenský projekt obsahuje online editor fotek. Napsaný v programovacím jazyce python s frameworkem Django pro tvorbu webu.</p>
    </body>
</html>