{% load static %}
<html>
    <head>
        <title>{{preklad.meta.title}}</title>
        <link rel="icon" type="image/ico" href="{% static '/assets/favicon/favicon.ico' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        
        <script src="{% static 'assets/concrete.min.js' %}"></script>
        <script src="{% static 'assets/jquery-3.5.1.min.js' %}"></script>
         <script
            src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
            integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
            crossorigin="anonymous"></script> 
         <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

         
        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            let options = {
                title: 'Histogram',
                legend: 'none',
                backgroundColor: { fill:'transparent' },
                hAxis: {title: 'Hodnoty',  titleTextStyle: {color: '#333'}},
                vAxis: {viewWindow: {
                min: 0,
                max:15000
            },scaleType: 'lin',gridlines: { count: 0 }},
            colors: ['#dddddd']
                };

                function drawChart() {
                    var datas=new Array(['hodnoty', 'Y']);
                    for (i = 0; i < 256; i++) {
                        datas.push([i,0]); 
                    }
                    var data = google.visualization.arrayToDataTable(
                    datas);
                    var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                }
            </script>
    
        <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
        <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
        <link rel="stylesheet" href="{% static 'assets/style/main.css'%}">
    </head>
    <body>
        <input name="file" id="file-select" class="dropzoned" type="file" />
        <div class="loading">
        <div class="loader"></div></div>
        <!--
        <div class="agreeBackground">
            <div class="agreeTable">
                <div class="infoTableBody">
                    <h1>{{preklad.agree.nadpis}}</h1>
                    <p>{{preklad.agree.text}}<p>
                    <div class="footerAgree">
                        <button class="agree">{{preklad.agree.agree}}</button>
                        <a href="/documenation"><button class="disline">{{preklad.agree.disline}}</button></a>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div class="infoBackground">
            <div class="infoTable">
                <div class="navbarInfo">
                    <button class="infoHide">X</button>
                    <button class="minimalize" data-name="info">_</button>
                </div>
                <div class="infoTableBody">
                    <h1>{{preklad.ap.nadpis}}</h1>
                    <h2>{{preklad.ap.podnadpis}}</h2>
                    <h3>{{preklad.ap.vedouci}}</h3>
                    <p>{{preklad.ap.text}}<p>
                </div>
                <div class="infoTableFooter">
                    <p>{{preklad.ap.verze}} {{verze}} | {{preklad.ap.datum}} {{datum_vydani}}</p>
                    <p>Commit {{commitZkraceny}}</p>
                </div>
            </div>
        </div>
        <div class="zalozky">
            <template id="zalozkaTemplate">
                <div class="itemZalozky">
                    <p></p>
                    <button class="closeItem" onclick="closeItem(this)">X</button>
                    <button class="openItem" onclick="openItem(this)">&#9645;</button> 
                </div>
            </template>
        </div>

        <div class="horni-bar">
            <div class="cv">
                <input type="text" id="nazev" class="nameProject"value="{{preklad.project.default}}">
                <button class="save btn-nav" download="" href="">{{preklad.button.save}}</button>
                <button class="open btn-nav">{{preklad.button.open}}</button>
                <a id="download" download="" href="" title="EditedIamge"><button class="btn-nav">{{preklad.button.download}}</button></a>
                <button class="info btn-nav">{{preklad.button.info}}</button>
                <button class="windows btn-nav">{{preklad.button.windows}}</button>
                <button class="tool btn-nav">{{preklad.button.tools}}</button>
                <button class="uploading btn-nav">{{preklad.button.upload}}</button>
                <button class="uploading btn-nav">{{preklad.button.setting}}</button>
                <div class="dropdown">
                    <button class="btn-nav">{{lang}}</button>
                    <div class="dropdown-content cv">
                        {% for lan in langs %}
                    <a href="/{{lan}}/">{{lan}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="toolBar">
            <div class="show tools">
                <button class="btn-tools"><img src="{% static 'assets/icons/hand.png' %}"></button>
                <button class="btn-tools"><img src="{% static 'assets/icons/hand.png' %}"></button>
                <button class="btn-tools"><img src="{% static 'assets/icons/hand.png' %}"></button>
                <button class="btn-tools"><img src="{% static 'assets/icons/hand.png' %}"></button>
            </div> 
            <div class="showing">
                <div class="closeTools hide" onclick="show('tools','left')">
                    <svg width="20px" height="100px">
                        <polygon points="0,0 20,25 20,75 0,100" style="fill:#505050"/>
                        <circle cx="7" cy="30" r="4" fill="#202020"></circle>
                        <circle cx="7" cy="50" r="4" fill="#202020"></circle>
                        <circle cx="7" cy="70" r="4" fill="#202020"></circle>
                    </svg>
                </div>
            </div>
        </div>

        <div class="workspace" id="workspace">
            <div class="center"> <h1>{{preklad.dropdown.screen}}</h1>
            </div>
            <div id="foto">
            </div>
        </div>
        <div class="side_panel">
            <div class="rightPanel">
                <div class="histograms">
                    <div class="btns-hist">
                        <template id=maly>
                            <svg width="20" height="60" >
                                <polygon points="0,20 20,0 20,40 0,60" />
                            </svg>
                        </template>
                        <template id="velky">
                            <svg width="40" height="60" >
                                <polygon points="0,20 20,0 40,0 40,40 20,40 0,60"/>
                            </svg>
                        </template>
                        <div class="histbut whitebtm activeBtn first" data-type="y"></div>
                        <div class="histbut redbtn second" data-type="r"></div>
                        <div class="histbut greenbtn third" data-type="g"></div>
                        <div class="histbut bluebtn four" data-type="b"></div>
                    </div>
                    <div id="histogram">
                        <div id="chart_div"></div>  
                    </div>
                </div>
                <h1>{{preklad.upravy.nadpis}}</h1>
                    <div class="slidecontainer">
                    <p>{{preklad.upravy.brightness}}:</p>
                    <input type="range"  value="0" max="20" min="-20" step="0.1" class="slider" id="brightness"><input type="number"  value="0" max="20" min="-20" step="0.1" class="numbersofslider" id="brightnessn">
                    <p>{{preklad.upravy.contrast}}:</p>
                    <input type="range" min="0" max="200" value="100" class="slider" id="contrast"><input type="number" min="0" max="200" value="100" class="numbersofslider" id="contrastn">
                    <p>{{preklad.upravy.rotation}}:</p>
                    <input type="range" min="-360" max="360" value="0" class="slider" id="rotation"><input type="number" min="-360" max="360" value="0" class="numbersofslider" id="rotationn">
                    </div>
                </div> 
                    <div class="closeDash" onclick="show('rightPanel','right')">
                        <svg width="20px" height="100px">
                            <polygon points="20,0 0,25 0,75 20,100" style="fill:#505050"/>
                            <circle cx="13" cy="30" r="4" fill="#202020"></circle>
                            <circle cx="13" cy="50" r="4" fill="#202020"></circle>
                            <circle cx="13" cy="70" r="4" fill="#202020"></circle>
                        </svg>
                </div>    
        </div>
            

        {% csrf_token %}        
    </body>
    
    <script src="{% static 'assets/img.js'%}"> </script>
    <script src="{% static 'assets/main.js'%}"> </script>

<script>$(".resize").hide();</script>
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        </script>

<script>
/* Classy s objekty canvasu a layerů*/
class Canvas{
                constructor(size){
                    this.size=size;
                    this.layers=[];
                    this.histogramData=[]
                    this.viewport = new Concrete.Viewport({
                    width: size[0],
                    height: size[1],
                    container: foto
                    });
                }
                createLayer(name){
                    var newLayer= new Layer(this.size,name);
                    this.viewport.add(newLayer.layer);
                    this.layers.push(newLayer);
                }
                render(){
                    this.viewport.render();
                    this.histogram();
                }
                download(name, format){
                    this.viewport.scene.download({
                        fileName: name+"."+format
                      });
                }
                histogram(){
                    var data = this.viewport.scene.context.getImageData(0,0,this.size[0],this.size[1]).data;
                    var y=[];
                    var r=[];
                    var g=[];
                    var b=[];
                    for(var i=0;i<256;i++){
                        y.push(0);
                        r.push(0);
                        b.push(0);
                        g.push(0);
                    }
                    for(var x=0;x<this.size[0]*this.size[1]*4;x=x+4){
                        var ynew= Math.floor(0.3*data[x]+0.59*data[x+1]+0.11*data[x+2])
                        y[ynew]++;
                        r[data[x]]++;
                        g[data[x+1]]++;
                        b[data[x+2]]++;
                    }
                    this.histogramData=[];
                    this.histogramData.push(y);
                    this.histogramData.push(r);
                    this.histogramData.push(g);
                    this.histogramData.push(b);
                    this.zobrazeniHistogram();
                }
                zobrazeniHistogram(){
                    var type= $(".activeBtn").attr("data-type");
                    var data ="";
                    var color="";
                        if(type=="g"){
                            data=this.histogramData[2];
                            color=['#00ff00'];
                        }
                        if(type=="r"){
                            data=this.histogramData[1];
                            color=['#ff0000'];
                        }
                        if(type=="b"){
                            data=this.histogramData[3];
                            color=['#0000ff'];
                        }
                        if(type=="y"){
                            data=this.histogramData[0];
                            color=['#dddddd'];
                        }
                    var datas=new Array(['hodnoty', 'Y']);
                    options.colors = color;
                    var datos=data;
                        var datas=new Array(['hodnoty', color]);
                        for (var i = 0; i < 256; i++) {
                            datas.push([i,datos[i]]); 
                        }
                        var arr=google.visualization.arrayToDataTable(datas);
                    var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
                    chart.draw(arr, options);
                }
            }
            class Layer{
                constructor(size,name){
                    var layer= new Concrete.Layer({width: size[0],height: size[1]})
                    this.layer = layer;
                    this.name=name;
                    this.ycbcr =[];
                    this.rgb=[];
                    this.alpha=[];
                    this.position=[0,0];
                    this.size=size;
                    this.jas=0;
                    this.layerImage=[];
                    this.layerData=[];
                    
                }
                ImageDataStarted(){
                    console.log(this.layer.scene.context.getImageData(0,0,this.size[0],this.size[1]));
                    this.layerImage=this.layer.scene.context.getImageData(0,0,this.size[0],this.size[1]);
                    this.layerData=this.layerImage.data;
                    for(var i=0; i<this.size[0]*this.size[1]*4;i=i+4){
                        this.rgb.push(this.layerData[i]);
                        this.rgb.push(this.layerData[i+1]);
                        this.rgb.push(this.layerData[i+2]);
                        this.alpha.push(this.layerData[i+3]);
                    }
                    
                    console.log(this.layerImage.data);
                }
                RGBtoYCbCr(){
                    var width = this.size[0];
                    var height= this.size[1];
                    var pocethodnot= width*height*3;
                    var data = this.rgb;
                    var ycbcr=[];
                    for(var i=0; i<pocethodnot;i=i+3){
                        var r =data[i]
                        var g =data[i+1];
                        var b = data[i+2];
                        var y = Math.floor(r*0.299+g*0.587+b*0.114);
                        var cb= Math.floor(r *(-0.16874)+g*(-0.33126)+ b*0.50000 + 128);
                        var cr=Math.floor(r*0.50000+g*(-0.41869)+ b*(-0.08131) + 128);
                        ycbcr.push(y,cb,cr);
                    }
                    this.ycbcr=ycbcr;
                    this.ImageData();
                }
                YCbCrtoRGB(){   
                    var ycbcr=this.ycbcr;
                    var rgb = this.rgb;
                    for(var i=0;i<ycbcr.length;i=i+3){
                        rgb[i]=Math.floor(ycbcr[i]+(ycbcr[i+2]-128)*1.402);
                        rgb[i+1]=Math.floor(ycbcr[i]+(ycbcr[i+1]-128)*-0.34414+(ycbcr[i+2]-128)*-0.71414);
                        rgb[i+2]=Math.floor(ycbcr[i]+(ycbcr[i+1]-128)*1.772);
                    }
                    this.ImageData();
                }
                /* analyze and make Image Data for render */
                ImageData(){
                    var width = this.size[0];
                    var height= this.size[1];
                    var pocethodnot= width*height*3;
                    var plus=0;
                    for(var i=0;i<pocethodnot;i=i+3){
                        this.layerData[i+plus]=this.rgb[i]
                        this.layerData[i+1+plus]=this.rgb[i+1]
                        this.layerData[i+2+plus]=this.rgb[i+2]
                        this.layerData[i+3+plus]=this.alpha[plus];
                        plus++;
                    }
                    this.layer.scene.context.putImageData(this.layerImage,0,0);
                }
                /*zesvětlení*/
                brightness(value){
                    var EV = value-this.jas;
                    this.jas=value;
                    var sirka=this.size[0];
                    var vyska=this.size[1];
                    var data=this.ycbcr;
                    var pocetdata=sirka*vyska*3;
                    var coef=Math.pow(2,EV);
                    for(var x=0;x<=pocetdata;x+=3){
                        var jas = Math.floor(data[x]*coef);
                        if(jas<255){
                          data[x]=jas;
                        }
                        else{
                          data[x]=255;
                        }
                    }
                    this.YCbCrtoRGB()
                }
                rotate(angle){
                    var xnew=x*Math.cos(angle)-y*Math.sin(angle);
                    var ynew=x*Math.sin(angle)+y*Math.cos(angle);

                }
                contrast(){
                    return true;
                }
                sharpening(){
                    return true;
                }
                importImage(myImage){
                   
                    console.log(myImage);
                    this.layer.scene.context.drawImage(myImage,0,0,this.size[0],this.size[1]);
                    console.log(this.layer.getIndex());
                    console.log(this.layer.scene.context.getImageData(0,0,this.size[0],this.size[1]));
                    this.ImageDataStarted();
                    
                }
                BGcolor(r,g,b){
                  this.layer.scene.context.fillStyle = "rgb("+r+","+g+","+b+")";
                  this.layer.scene.context.fillRect(0, 0, this.size[0],this.size[1]);
                }
                down(){
                  this.layer.moveDown();
                }
                up(){
                  this.layer.moveUp();
                }
            }

</script>

<script>
let size=[document.body.clientWidth*(2/3),document.body.clientHeight*(2/3)];
let canvas = new Canvas(size);
canvas.createLayer("Background");
canvas.layers[0].BGcolor(255,255,0);



/* brightness add*/
$("#brightness").on("change",async function(){
            var layer=canvas.layers[1];
            layer.brightness($(this).val());
            canvas.render();
});
</script>


<script>
   
/*změna histogramu na základě buttonu*/
$(".histbut").on('click',function () {
    var t= $(this);
    t.parent().children(".activeBtn").removeClass("activeBtn");
    t.addClass("activeBtn");
    /*změna svg*/
    $(".btns-hist").children(".histbut").each(function(){
        var template=$("#maly").html();
        $(this).html(template);
    });

    var template=$("#velky").html();
    t.html(template);
 /* konec změny svg*/
    canvas.zobrazeniHistogram();
});


    </script>
      
    <script>
//rozpoznání originální fotky při nahrání
 $(".dropzoned").change(function () {
        var reader = new FileReader();
        var f = document.getElementById("file-select").files;
        reader.onloadend = function () {
            var data=reader.result;
            originalimagedata =data;
            var myImage = new Image();
            myImage.src = data;
            myImage.id="img";
            setTimeout(() => {  canvas.createLayer("Layer 1");
            canvas.layers[1].importImage(myImage);
            canvas.render();
        }, 2000);
           
        }
        reader.readAsDataURL(f[0]);
        
});
        
        </script>
        <script>
            function upravafotky(){
                var brightnessvalue=$("#brightness").val()/100;
                var contrastvalue=$("#contrast").val()/100;
                var rotate = $("#rotation").val();
                canvas.layers[1].brightness(brightnessvalue);
                canvas.render();
                $(".loading").hide();
            }
            //sliders
            $(".slider").on("change",function(){
                $(".loading").toggle();
                $("#contrastn").val($("#contrast").val());
                $("#brightnessn").val($("#brightness").val());
                $("#rotationn").val($("#rotation").val());
                upravafotky();
                });
            $(".numbersofslider").on("change",function(){
                $(".loading").toggle();
                $("#contrast").val($("#contrastn").val());
                $("#brightness").val($("#brightnessn").val());
                $("#rotation").val($("#rotationn").val());
                upravafotky();
                });
        </script>
         <script>$(".loading").hide();</script>
         <script>

             function show(div,dir){
                 var obj = $("."+div);
                 obj.toggle(500,"swing");
             }
         </script>
        <script>
            /* záložky */
            $(".minimalize").on("click", function(){
                var co = $(this).attr("data-name");
                var zalozky = $(".zalozky");
                var template=$("#zalozkaTemplate").html();
                if(zalozky.children(".itemZalozky").attr("data-name")!=co){
                    zalozky.append(template);
                    zalozky.children(".itemZalozky").attr("data-name",co);
                    zalozky.children(".itemZalozky").children("p").html(co);
                    zalozky.children(".itemZalozky").children("button").attr("data-name",co);
                    $(this).parent().parent().parent().hide();
                }
            });
            /* zavření záložky*/
            function closeItem(elmt){
                $(elmt).parent().remove();
            }
            /* otevření záložky */
            function openItem(elmt){
                var attr= $(elmt).attr("data-name");
                if(attr=="info"){
                    $(".infoBackground").show();
                    $(elmt).parent().remove();
                }
            }
            $(".openItem").click(function(){
                console.log("ahoj");
            });
        </script>
         <script>
             /* svg tlačítek u histogramu */
             $(".histbut").each(function(){
            var template=$("#maly").html();
            $(this).html(template);
        });
        $(".activeBtn").each(function(){
            var template=$("#velky").html();
            $(this).html(template);
        });
        </script>
        <script>
            $(".agree").on("click",function(){
                $(this).parent().parent().parent().parent().remove();
            });
        </script>  
        
</html>